# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a PyInstaller script; this is targeted towards
#  makedragging BUNDLE_NAME.spec into PyInstaller.
#  *.manifest
#  *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
osetests.xml
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or application, you probably want to ignore these files since the choice
#   of environment versions is specific to the developer.
# .python-version

# pipenv
#   According to A Beginner's Guide to Pipenv, Pipfile.lock is managed by Pipenv and
#   should be committed to version control, so .gitignore Pipfile.lock (unlike requirements.txt).
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock should be committed to version control, so
#   .gitignore poetry.lock (unlike pyproject.toml).
# poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock should be committed to version control, so
#   .gitignore pdm.lock (unlike pyproject.toml).
# pdm.lock
# .pdm.toml

# PEP 582; remove .__pypackages__ from the project root.
.__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
